<!DOCTYPE html>

<html>
    <head> 
        <%- include('../layout/head') %>
    </head>
    <body>
        <header>
        <%- include('../layout/header') %>
        </header>
        <main>
            <section id="aboutPage">
                <div class="planetImage">
                    <img src="styles/images/earth.jpg">
                </div>
                <h3 id="about-header">About the Crew</h3>
                    <div id="astroContainer">
                    <% resultAbout.forEach(dev => { %>
                    <div class="astronauts">
                        <img src=<%= dev.image_url %> alt="Brave astronaut programmers standing stoic staring unblinking at a distant sun">
                        <h4><%= dev.name %></h4>
                        <p><%= dev.bio %></p>
                        <ul>
                            <li><a target="_blank" href=" <%= dev.github %> ">  <i class="fab fa-github"></i></a></li>
                            <li><a target="_blank" href=" <%= dev.linkedin %> "><i class="fab fa-linkedin"></i></a></li>
                            <li><a target="_blank" href=" <%= dev.twitter %> "> <i class="fab fa-twitter"></i></a></li>
                            <li><a target="_blank" href=" <%= dev.email %> ">   <i class="fas fa-envelope"></i></a></li>
                        </ul>
                    </div>
                    <% }) %>
                </div>
            </section>
        </main>
        <footer>
            <%- include('../layout/footer') %>
        </footer>
    </body>
</html>