<!DOCTYPE html>

<html>

  <head>
      
  </head>
  <body>
    <header>
      <%- include('../layout/header') %>
    </header>
      <main>
        
             



        <section>
          <form action="/results" method="post">
          <input type="hidden" name="_method" value="put">
          <input type="hidden" name="distance" value="<%= resultsView %>">
            <fieldset>
              Distance: <span id="distance"><%= resultsView[0] %></span>
              <select id="units"></select>
              <!-- <select name="units" id="units" onchange="this.form.submit()">Choose
                <option value="km">Kilometers</option>
                <option value="m">Meters</option>
                <option value="mi">Miles</option>
                <option value="au">Light Years</option>
                <option value="atlas">Good Boy <i class="fas fa-dog"></i></option>
              </select> -->
              Travel Time: <!--this will auto fill form API?--> <input type="number"> <!--option tag instead?-->
              <ul> <!--will add in maybe an link that will fill in each one?-->
                <li>Fun Fact 1</li>
                <li>Fun Fact 2</li>
                <li>Fun Fact 3</li>
                <li>Fun Fact 4</li>
                <li>Fun Fact 5</li>
              </ul> 
            </fieldset>
          </form>
          <p id="kilometers"><%= resultsView[0] %></p>
          <p id="meters"><%= resultsView[1] %></p>
          <p id="miles"><%= resultsView[2] %></p>
          <p id="lightyears"><%= resultsView[3].toPrecision(2) %></p>
          <p id="atlas"><%= resultsView[4] %></p>
        </section>
      </main>
  </body>
  <footer>
      <%- include('../layout/footer') %>
  </footer>

</html>