<!DOCTYPE html>

<html>

  <head>
    
  </head>
  <body>
    <header>
      <%- include('../layout/header') %>
    </header>
      <main>
        <section>
          <form action="/results" method="post">
          <input type="hidden" name="_method" value="put">
          <input type="hidden" name="distance" value="<%= resultsView %>">
            <fieldset>
              Distance: <span id="distance"><%= parseFloat(resultsView[0].toFixed(2)) %></span>
              <select id="units"></select>
              Travel Time:  <span id="time"> <%= parseFloat(resultsView[5].toFixed(2)) %> </span>
              <select id="speedmenu"></select>
              <ul> <!--will add in maybe an link that will fill in each one?-->
                <li>Fun Fact 1</li>
                <li>Fun Fact 2</li>
                <li>Fun Fact 3</li>
                <li>Fun Fact 4</li>
                <li>Fun Fact 5</li>
              </ul> 
            </fieldset>
          </form>
          <p class="hidden" id="kilometers"><%= parseFloat(resultsView[0].toFixed(2)) %></p>
          <p class="hidden" id="meters"><%= parseFloat(resultsView[1].toFixed(2))%></p>
          <p class="hidden" id="miles"><%= parseFloat(resultsView[2].toFixed(2)) %></p>
          <p class="hidden" id="lightyears"><%= parseFloat(resultsView[3].toFixed(6)) %></p>
          <p class="hidden" id="atlas"><%= parseFloat(resultsView[4].toFixed(2)) %></p>
          <p class="hidden" id="conventional-rocket"><%= parseFloat(resultsView[5].toFixed(2)) %></p>
          <p class="hidden" id="ion-rocket"><%= parseFloat(resultsView[6].toFixed(2)) %></p>
          <p class="hidden" id="walking"><%= parseFloat(resultsView[7].toFixed(2)) %></p>
          <p class="hidden" id="dog-walking"><%= parseFloat(resultsView[8].toFixed(2)) %></p>
          <p class="hidden" id="driving"><%= parseFloat(resultsView[9].toFixed(2)) %></p>
        </section>
      </main>
  </body>
  <footer>
      <%- include('../layout/footer') %>
  </footer>

</html>