<!DOCTYPE html>

<html>

  <head>
      
  </head>
  <body>
    <header>
      <%- include('../layout/header') %>
    </header>
      <main>
        <section>
          <form action="/results" method="post">
          <input type="hidden" name="_method" value="put">
          <input type="hidden" name="distance" value="<%= resultsView.km %>">
            <fieldset>
              Distance: <span id="distance"><%= resultsView.km %></span>
              <select id="units"></select>
              <!-- <select name="units" id="units" onchange="this.form.submit()">Choose
                <option value="km">Kilometers</option>
                <option value="m">Meters</option>
                <option value="mi">Miles</option>
                <option value="au">Light Years</option>
                <option value="atlas">Good Boy <i class="fas fa-dog"></i></option>
              </select> -->
              Travel Time: <!--this will auto fill form API?--> <input type="number"> <!--option tag instead?-->
              <section>
                <h4><%= resultsView.name %></h4>
                <img src=<%= resultsView.image %>>
                <div class='factsBox'>
                  <p> <%= resultsView.general_environment %> </p>
                  <p> <%= resultsView.day_length %> </p>
                  <p> <%= resultsView.random1 %> </p>
                  <p> <%= resultsView.random2 %> </p>
                </div>
                <p> Facts gathered from NASA api.</p>
            </section>
            </fieldset>
          </form>
          <p id="kilometers"><%= resultsView.km %></p>
          <p id="meters"><%= resultsView.m %></p>
          <p id="miles"><%= resultsView.mi %></p>
          <p id="lightyears"><%= resultsView.au.toPrecision(2) %></p>
          <p id="atlas"><%= resultsView.atlas %></p>
        </section>
      </main>
  </body>
  <footer>
      <%- include('../layout/footer') %>
  </footer>

</html>
