<!DOCTYPE html>

<html>

  <head>
    <%- include('../layout/head') %>
  </head>
  <body>
    <header>
      <%- include('../layout/header') %>
    </header>
      <main>
        <section id="resultsPage">
          <div class="planetImage">
            <img src=<%= resultsView.image %>>
          </div>
          <form id="planetResults" action="/results" method="post">
          <input type="hidden" name="_method" value="put">          
          <input type="hidden" name="distance" value="<%= parseFloat(resultsView.km.toFixed(2)) %>">
          <h3><%= resultsView.destination %></h3>
            <fieldset>
              <p>Distance from <%= resultsView.launch %>: <span id="distance"><%= resultsView.km %></span></p>
              <select id="units"></select>
              <p>Travel Time from <%= resultsView.launch %>:  <span id="time"> <%= parseFloat(resultsView.timeRocket.toFixed(2)) %> days</span></p>
              <select id="speedmenu"></select>
                <div class='factsBox'>
                  <h4>General Environment: </h4>  
                  <p><%= resultsView.general_environment %></p>
                  <h4>Length of a Year: </h4>
                  <p><%= resultsView.day_length %></p>
                  <h4>More About <%= resultsView.destination %>:</h4>
                  <p><%= resultsView.random1 %></p>
                  <p><%= resultsView.random2 %> </p>
                </div>
                <p id="NASAcredit"> Facts gathered from the NASA API.</p>
            </section>
            </fieldset>
          </form>
          <p class="hidden" id="kilometers"><%= resultsView.km %></p>
          <p class="hidden" id="meters"><%= resultsView.m %></p>
          <p class="hidden" id="miles"><%= resultsView.mi %></p>
          <p class="hidden" id="lightyears"><%= resultsView.au.toPrecision(2) %></p>
          <p class="hidden" id="atlas"><%= parseFloat(resultsView.atlas.toFixed(0)) %></p>
          <p class="hidden" id="conventional-rocket"><%= parseFloat(resultsView.timeRocket.toFixed(2)) %></p>
          <p class="hidden" id="ion-rocket"><%= parseFloat(resultsView.timeIonRocket.toFixed(2)) %></p>
          <p class="hidden" id="walking"><%= parseFloat(resultsView.timeWalking.toFixed(2)) %></p>
          <p class="hidden" id="dog-walking"><%= parseFloat(resultsView.timeDogWalking.toFixed(2)) %></p>
          <p class="hidden" id="driving"><%= parseFloat(resultsView.timeDriving.toFixed(2)) %></p>
        </section>
      </main>
  </body>
  <footer>
      <%- include('../layout/footer') %>
  </footer>

</html>